/* Styles for PublicNavbar.jsx */
header {
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.7);
}

.nav-link {
  position: relative;
  padding-bottom: 4px;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #a5eaff;
  transition: width 0.3s ease-in-out;
  border-radius: 2px;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.nav-link.active {}